@import "../../styles/variables.scss";

.input_search{
    width: 100%;
    position: relative;
    
    input{
        width: 100%;
        padding-left: 2rem;
    }
    span{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1.3rem;
        color: $grey;
    }
}