

$white: #fff;
$black: #323232;
$grey: #c3c1c1;
$primary-text: #191919;
$secondary-text: #61677A;
$off-white: #EBF0F9;
$border: #F5F5F5;
$blue-primary: #3128a5;
$blue-secondary: #6464ce;
$blue-tertiary: #9fa7f3;
$transition: all ease 300ms;