@import "../../styles/variables.scss";


.hc_settings_top{
    padding: 1rem 2rem;
}

.hc_settings_header{
    margin-top: 5rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3{
        font-weight: 400;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
    }
}

.no_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}